.label-folder-list {
  position: fixed;
  top: 115px;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: var(--primary-mail-bgc);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0 6px;
}

ul li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px 0 15px;
}

ul li .folder-icon {
  width: 30px;
  margin-right: 0;
}

ul li p {
  white-space: nowrap;
  display: none;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.label-folder-list:hover {
  width: 150px;
}
.label-folder-list:hover ~ .mail-list-container {
  margin-left: 150px;
}

.label-folder-list:hover ul li .folder-icon {
  margin-right: 10px;
}

.label-folder-list:hover ul li p {
  display: block;
}

.label-folder-list:hover ul li {
  justify-content: flex-start;
}

ul li:hover {
  background-color: var(--hover-state-color);
}

ul li:hover .folder-icon,
ul li:hover p {
  background-color: inherit;
}
