.mail-info-page {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Center horizontally */
  width: 100%; /* Full width */
  height: calc(100vh - 80px); /* Adjust height based on header size */
  overflow-y: auto; /* Enable scrolling if content overflows */
  background-color: white;
  padding: 0 20px;
  overflow-x: hidden;
}

.mail-header-section {
  width: 100%;
}

.mail-action-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 90%;
  margin-block-end: 20px;
  color: var(--btn-color);
  flex-wrap: wrap;
}

.action-btn-mail {
  display: flex;
  align-items: center;
}

.back-nav,
.archive,
.spam,
.mail-details-delete-btn,
.unread {
  cursor: pointer;
  margin-right: 15px;
}

.prev-next-btn  {
  display: flex;

}

.prev-next-btn button {
  margin-left: 15px;
  border: none;
  background-color: transparent;
}

.mail-details-delete-btn::after {
  content: ' |';
  font-size: 1rem;
  font-weight: bolder;
  padding-inline-start: 5px;
}

.mail-info {
  flex: 1;
  padding-inline-start: 25px;
  background-color: white;
  width: 90%;
  max-width: 1000px;
  border-radius: 8px;
}

.mail-details-header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
}

.to-details {
  position: absolute;
  bottom: -10px;
  left: 55px;
}

.from {
  position: absolute;
  bottom: 20px;
  left: 55px;
}

.subject {
  font-size: 1.5rem;
  margin: 0;
  width: 100%;
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  
}

.sender-img-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sender-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.mail-details-actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  right: 0;
  width: 100px;
  color: var(--btn-color);
}

p.sent {
font-size: 1em;

}
.mail-details {
  margin-top: 2rem; 
}

.to,
.sent {
  margin: 5px 0; 
}

