.label-folder-list {
  position: fixed;
  top: 110px;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: var(--primary-mail-bgc);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
  overflow: hidden;
}

.compose-btn {
  background-color: #c2e7ff;
  padding: 0;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 56px;
  margin-left: 0;
  min-width: 56px;
  width: 56px;
  box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000;
}
.compose-label {
  display: none;
  margin-left: 10px;
}

.compose-btn:hover .compose-label {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 50px; /* Adjust this to control the label position */
}

.new-mail-btn:hover {
  background-color: #c2e7ff;
  border-radius: 16px;

}
ul {
  list-style: none;
  padding: 0 6px;
}

ul li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px 0 15px;
}

ul li .folder-icon {
  width: 30px;
  margin-right: 0;
}

ul li p {
  white-space: nowrap;
  display: none;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.label-folder-list:hover {
  width: 150px;
}
.label-folder-list:hover ~ .mail-list-container {
  margin-left: 150px;
}

.label-folder-list:hover ul li .folder-icon {
  margin-right: 10px;
}

.label-folder-list:hover ul li p {
  display: block;
}

.label-folder-list:hover ul li {
  justify-content: flex-start;
}

ul li:hover {
  background-color: var(--hover-state-color);
}

ul li:hover .folder-icon,
ul li:hover p {
  background-color: inherit;
}

.unread-count {
  display: inline-block;
  font-weight: bold;
  padding: 0.2em 1em;
  margin-left: 10px;
  font-size: 0.8rem;
  min-width: 20px;
  text-align: center;
}
