.mail-list-table {
  width: clamp(80%, 1000px, 100%);
  background-color: #fff;
  flex: 1;
  width: 100%; 
  padding-inline-start: 6px;
}

.mail-review {
  border-collapse: collapse;
  border-left-color: var(--mail-border-color);
  border-right-color: var(--mail-border-color);
  border-top-color: var(--mail-border-color);
  color: rgb(32, 33, 36);
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
  display: flex;
  position: relative;
  background-attachment: scroll;
  text-indent: 0px;
  cursor: pointer;
  align-items: center; 
  padding: clamp(8px, 2vw, 10px) 0; 
}

.mail-review:hover {
  box-shadow: inset -1px 0 0 #dadce0, inset 1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 2;
}

.mail-list-item {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.mail-list-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.mail-list-table td {
  padding: clamp(5px, 2vw, 10px) 0; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select {
  width: clamp(30px, 4vw, 40px); 
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 0 clamp(8px, 2vw, 13px) 0 clamp(10px, 2vw, 10px); 
}

.mail-list-table td .star-col {
  padding: 0; 
  margin: 0; 
  width: clamp(25px, 4vw, 30px); 
  display: flex;
  align-items: center; 
}

.star {
  cursor: pointer;
}

.star:hover {
  background-color: #e8e3e3;
  border-radius: 50%;
}

.mail-sender {
  margin: 0; 
  padding: 0; 
}

.read {
  background-color: var(--readed-mail-color);
}

.delete-btn {
  display: none;
}

.mail-review:hover .mail-sent {
  display: none;
}

.mail-review:hover .delete-btn {
  display: block;
}
