:root {
  --main-bg-color: lightblue;
  
  /* Mail root color */
  --primary-mail-bgc:#F4F6FA;
  --readed-mail-color:#F2F6FC;
  --active-color:#D3E3FD;
  --hover-state-color:#EAEBEF;
  --new-mail-color:#C2E7FF;
  --mail-border-color: rgb(128, 128, 128);
  --input-search-color: #EAF1FB;
  --btn-color:#707271;
  
  /* Note root color */
  --clr1bg: #e8f0fe;
  --clr2bg: #fff


}
