/* .add-note {
    display: flex;
    justify-self: center;
    width: 100%;
    max-width: 540px;
    margin: 20px auto;
} */

.note-show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.note-show input,
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background: transparent;
    align-self: stretch;
    padding: 1rem;
    color: rgb(0, 0, 0);
    border: none;
}

.note-cmpn {
    display: flex;
    /* align-self: center; */
}

.note-show button {
    align-self: center;
}


/* Media Query for Very Small Devices */
@media (max-width: 480px) {

    /* .add-note {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    } */

    .note-show {
        /* flex-direction: column; */
        padding: 5px;
        align-items: stretch;
    }

    .note-show input,
    textarea {
        padding: 0.3rem;
        width: 100%;
    }

    .note-show button {
        margin-top: 5px;
        width: 100%;
        align-self: center;
    }
}

/* Media Query for Smaller Devices */
@media (min-width: 768px) {
    .note-show {
        align-items: stretch;
        padding: 10px;
        gap: 10px;
        /* Ensure a consistent gap */
    }

    .note-show input,
    textarea {
        width: 100%;
        padding: 0.5rem;
    }

    .note-show button {
        align-self: flex-end;
        margin-top: 10px;
    }

    .note-cmpn {
        flex-direction: row;
        align-items: flex-start;
    }
}


@media (min-width: 1024px) {

    .add-note {
        max-width: 540px;
        /* Maintain width on large screens */
    }

    .note-show {
        justify-content: space-between;
        gap: 15px;
        /* Add more space between input and button */
    }
}