.add-note form {
    display: flex;
    flex-flow: column;
    width: 540px;
    border-radius: 8px;
    border: solid 1px #5f6368;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
}

.add-note form input {
    background: transparent;
    border: none;
    padding: 1rem;
    color: white;
}

.add-note form input:focus {
    outline: none;
}