 /* note list */
.note-container{
    position:relative;
    padding: 0 5rem; 
}
 .note-layout {
     /* display: grid; */
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     /* columns: 250px 6; */
     /* direction: column; */
     gap: 10px;
     align-items: start;
     justify-items: space-around;
     grid-auto-flow: dense; 
     position:absolute;
     top: 0;
     left: 0;
 }


 .pinned,
    .unpinned {
     margin-bottom: 1rem;
     gap: 0.5em;
     padding: 0.5em;
 }

 .pinned:empty::after {
     content: "No pinned items. Click a note below to pin it.";
     /* padding: 1rem; */
     /* display: block; */
     text-align: center;
 }

 .unpinned:empty::after {
     content: "No unpinned notes.";
     /* padding: 1rem; */
     /* display: block; */
     /* text-align: center; */
 }

  /* Media Query for Very Small Devices (Phones) */
  /* @media (max-width: 480px) {
    .note-layout {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .pinned,
    .unpinned {
        margin-bottom: 1rem;
        gap: 0.5em;
        padding: 0.5em;
       justify-items: center;
    }
   
} */

@media (max-width: 480px) {
    .note-layout  {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      justify-content: center;
    }
  }

 /* Media Query for Tablets and Smaller Devices */
 @media (min-width: 768px) {
    .note-layout {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

/* Media Query for 1024px and Larger Devices (Desktops, Large Tablets) */
@media (min-width: 1024px) {
    .note-layout {
        /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
        columns: 250px 6;
        display: block;
        /* unicode-bidi: isolate; */
        margin: 0 auto;
        /* overflow: visible; */
    }
}