.note-preview {
    padding: 15px;
    background-color: var(--clr1bg);
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    /* max-width: 270px; */
    /* border-radius: 8px; */
    justify-content: center;
    align-items: center;
}

.note-preview img {
    max-width: 250px;
    border-radius: 8px;
}

.note-preview ul {
    list-style-type: none;
    padding: 0;
    align-content: start;
    align-items: center;
}

.active-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}

.btn {
   align-self: center;
}


