.note-preview {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    /* overflow: hidden; */
    break-inside: avoid;
    width: 250px;
}

.note-preview:nth-child(2n) {
    grid-row: span 2;
}

.note-preview:nth-child(3n) {
    grid-column: span 2;
}

.note-preview:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.note-preview img {
    max-width: 100%;
    border-radius: 8px;
}

.active-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}