 /* note list */
 .note-container {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .pinned,
 .unpinned {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .note-layout {
     display: grid;
     grid-template-columns: repeat(auto-fill, 250px);
     gap: 10px;
     grid-auto-flow: dense;
 }

 .pinned:empty::after {
     content: "No pinned items. Click a note below to pin it.";
     /* padding: 1rem; */
     /* display: block; */
     text-align: center;
 }

 .unpinned:empty::after {
     content: "No unpinned notes.";
     /* padding: 1rem; */
     /* display: block; */
     /* text-align: center; */
 }

 @media (max-width: 480px) {
     .note-layout {
         grid-template-columns: repeat(auto-fill, 250px);
         justify-content: center;
     }
 }

 /* Media Query for Tablets and Smaller Devices */
 @media (min-width: 768px) {
     .note-layout {
         grid-template-columns: repeat(auto-fill, 250px);
     }
 }

 /* Media Query for 1024px and Larger Devices (Desktops, Large Tablets) */
 @media (min-width: 1024px) {
     .note-layout {
         grid-template-columns: repeat(auto-fill, 250px);

     }
 }