
/* .active-btn{
    display: flex;
} */
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure that elements spread evenly */
    padding-top: 10px;
    flex-wrap: nowrap; 
    width: 100%; 
}