.note-preview {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    /* overflow: hidden; */
    break-inside: avoid; /* Avoid breaking inside columns */
    width: 250px;
}

/* .note-preview {
    background-color: var(--clr1bg);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    margin-bottom: 10px;
    break-inside: avoid;
    width: 250px;
    
} */

/* .note-preview:nth-child(odd) {
    grid-row: span 2; 
}

.note-preview:nth-child(even) {
    grid-row: span 1; 
} */

.note-preview:nth-child(2n) {
    grid-row: span 2;
}

.note-preview:nth-child(3n) {
    grid-column: span 2;
}

.note-preview:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.note-preview img {
    max-width: 100%;
    border-radius: 8px;
}

.active-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}