/* SIDEBAR */
.sidebar-notes {
    position: fixed;
    width: 250px;
    background-color: #fff;
    height: calc(100vh - 140px);
    padding-top: 20px;
    position: fixed;
    top: 140px;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.sidebar-notes.closed {
    transform: translateX(-100%);
}

.sidebar-notes.open {
    transform: translateX(0);
}

.sidebar-notes-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #5f6368;
}

.sidebar-notes-item .icon-button {
    margin-right: 15px;
}

.sidebar-notes-item.active {
    background-color: #f1f3f4;
    color: #202124;
}

.sidebar-notes-item:hover {
    background-color: #e8eaed;
}