*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--primary-mail-bgc);
  overflow: hidden; 
}

.mail-index {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.mail-header {
  position: sticky;
  top: 0;
  padding: clamp(0.25em, 2vw, 1em) clamp(0.5rem, 4vw, 1rem); /* Responsive padding */
  background-color: var(--primary-mail-bgc);
}

.menu-icon-btn {
  padding: 0;
  background: none;
  border: none;
}

.menu-icon {
  width: clamp(20px, 2vw, 25px); /* Responsive icon size */
  height: clamp(20px, 2vw, 25px); /* Responsive icon size */
  cursor: pointer;
}

.menu-icon:hover {
  background-color: var(--hover-state-color);
}


