*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--primary-mail-bgc);
  overflow: hidden; /* Prevents scrolling on the entire page */
}

.mail-index {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mail-header {
  position: sticky;
  top: 0;
  padding: 0.25em 0.5rem;
  background-color: var(--primary-mail-bgc);
}

.menu-icon-btn {
  padding: 0;
  background: none;
  border: none;
}

.menu-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.menu-icon:hover {
  background-color: var(--hover-state-color);
}

.mail-content-wrapper {
  display: flex;
  flex: 1;
  height: 100%; /* Ensures that the content takes up the full height */
}

.mail-list-container {
  flex: 1;
  overflow-y: scroll;
  padding: 2px;
  height: calc(100vh - 60px); 
  transition: margin-left 0.5s; 
}

