html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--primary-mail-bgc);
  overflow: hidden; /* Prevents scrolling on the entire page */
}

.mail-index {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mail-header {
  display: block;
}

.mail-content-wrapper {
  display: flex;
  flex: 1;
  height: 100%; /* Ensures that the content takes up the full height */
}

.mail-list-container {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  height: calc(100vh - 60px); /* Makes sure the table container takes up all the remaining space below the filter */
}
