
.book-details {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #f9f9f9;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    text-align: left;
    overflow: auto;
}

.book-details-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.book-details-nav button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.book-details-nav button:hover {
    background-color: #0056b3;
}

.book-title {
    align-self: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.book-thumbnail {
    width: 250px;
    height: auto;
    display: block;
    margin: 20px auto; 
    border-radius: 10px;
}


.book-price {
    align-self: center;
    font-size: 1.2rem;
    margin: 10px 0;
}

.book-price.discount {
    color: #dc3545;
    font-weight: bold;
}

.book-price.regular {
    color: #28a745;
}

.bold-txt {
    align-self: center;
    font-weight: 600;
    color: #555;
}

.bold {
    align-self: center;
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
}

.on-sale-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
}

.close-book {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.close-book:hover {
    background-color: #c82333;
}

.brake-line {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.review-container {
    margin-top: 20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Button for adding reviews */
.add-rev {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-rev:hover {
    background-color: #0056b3;
}