 /* note index */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
 }

 html,
 body {
     height: 100%;
     background-color: var(--clr2bg);
     /* margin: 0; */
     /* overflow: auto; */
 }

 .note-index {
     display: flex;
     flex-direction: column;
     height: 100vh;
     background-color: var(--clr2bg);
 }

 .note-header {
     position: sticky;
     top: 0;
     left: 0;
     padding: 0.25em 0.5rem;
     width: 100%;
     height: 60px;
     background-color: var(--clr2bg);
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
 }

 .note-body {
     display: flex;
     background-color: var(--clr2bg);
     overflow: auto;
     height: calc(100vh - 130px);
 }

 .note-content {
     width: calc(100vh - 100px);
     left: 100px;
     padding: 0.25em 0.5rem;
 }

 @media (min-width: 1024px) {
     .note-header {
         height: 70px;
         padding: 1rem;
     }

     .note-content {
         width: calc(100vw - 200px);
         padding: 1rem;
     }
 }

 @media (min-width: 768px) {
     .note-header {
         height: 60px;
         padding: 0.5rem;
     }

     .note-content {
         width: calc(100vw - 170px);
         padding: 1rem;
     }
 }

 @media (max-width:480px) {
     .note-header {
         height: 60px;
         padding: 0.5rem;
     }

     .note-content {
         width: calc(100vw - 130px);
         padding: 2rem;
         justify-self: center;
     }
 }