 /* note index */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
 }

 html,
 body {
     height: 100%;
     background-color: var(--clr2bg);
     /* margin: 0; */
     /* overflow: auto; */
 }

 .note-index {
     display: flex;
     flex-direction: column;
     height: 100vh;
     background-color: var(--clr2bg);
 }

 .note-header {
     position: sticky;
     top: 0;
     left: 0;
     padding: 0.25em 0.5rem;
     width: 100%;
     height: 60px;
     background-color: var(--clr2bg);
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
 }

 .note-body {
     background-color: var(--clr2bg);
     display: flex;
     justify-content: space-evenly;
 }

 .note-content {
     /* position: fixed; */
     width: calc(100vh - 80px);
     left: 80px;
     padding: 0.25em 0.5rem;
     align-items: stretch;
 }