 /* note index */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
 }

 html,
 body {
     height: 100%;
     margin: 0;
     background-color: var(--clr2bg);
     overflow: hidden;
 }

 .note-index {
     display: flex;
     flex-direction: column;
     height: 100vh;
     /* background-color: var(--clr2bg); */
 }

 .note-header {
     position: sticky;
     top: 0;
     left: 0;
     padding: 0.25em 0.5rem;
     width: 100%;
     height: 60px;
     background-color: var(--clr2bg);
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
 }

 .note-body {
     display: flex;
     direction: row;
     background-color: var(--clr2bg);
     height: calc(100vh - 130px);
 }

 .note-content {
     width: calc(100vh - 100px);
     /* padding: 0.25em 0.5rem; */
     /* overflow: auto; */
 }
 .note-content-wrapper{
    display: flex;
    width: 100%;
    overflow: auto; 
    justify-content: center;
    /* padding: 0.5em 2rem; */
    margin-bottom: 2rem;
 }


 @media (max-width:480px) {
     .note-header {
         height: 60px;
         padding: 0.5rem;
     }

     .note-content {
         width: calc(100vw - 130px);
         padding: 2rem;
         justify-self: center;
     }
 }

 @media (min-width: 768px) {
     .note-header {
         height: 60px;
         padding: 0.5rem;
     }

     .note-content {
         width: calc(100vw - 170px);
         padding: 1rem;
     }
 }

 @media (min-width: 1024px) {
     .note-header {
         height: 70px;
         padding: 1rem;
     }

     .note-content {
         width: calc(100vw - 200px);
         /* width: 100%; */
         padding: 1rem;
     }
 }